# ignore csv files
*.csv

# ignore colon cancer as it is already in github named BGA
coloncancer

# virtural environment
venv/

# ignore python compiled and optimized files
*.pyc
__pycache__/
*.temp
*.tmp

# logs
*.log

#env
.env

#Todo files 
[tT][oO][dD][oO]
[tT][oO][dD][oO].[mM][dD]

# vscode ide internal files 
.vscode/